force-app/main/default/flows/Org_Limit_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_an_Email</name>
        <label>Send an Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Org_Limits__c.Org_Wide_Limit_Usage_Notification_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Validate_Limit_Usage</name>
        <label>Validate Limit Usage</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_Usage_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsagePercentage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsagePercentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email</targetReference>
            </connector>
            <label>Limit Usage &gt; 75</label>
        </rules>
    </decisions>
    <description>Send an email to Set of Users when ever Org wide Limit Usage Crossed 75 %</description>
    <formulas>
        <name>UsagePercentage</name>
        <dataType>Number</dataType>
        <expression>(({!$Record.Total_Limit__c} - {!$Record.Remaining_Limit__c}) / {!$Record.Total_Limit__c}) * 100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Org Limit Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Org Limit Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Limit_Usage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Remaining_Limit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_Limit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Org_Limits__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
